/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'sofia', cursive;
}
h2,
h4 {
  font-family: 'Oleo Script', cursive;
}
h3,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  max-width: 1200px;
  display: flex;
  margin: 20px 0;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  border-top: solid white 1px;
  border-bottom: solid white 1px;
}
.navigation a {
  margin-left: 12%;
  font-size: 1.8rem;
  text-decoration: none;
  color: white;
}
.navigation a:hover {
  border-bottom: 2px solid white;
}
.navigation h1 {
  margin-left: 5%;
  cursor: pointer;
}
.navigation nav {
  width: 60%;
  margin-left: 5%;
}
@media (max-width: 500px) {
  .navigation {
    width: 100%;
    flex-direction: column;
  }
  .navigation h1 {
    margin-bottom: 10px;
    margin-left: 0%;
  }
  .navigation nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-right: 0%  ;
    margin-left: 0%;
    margin-top: 10px;
  }
  .navigation nav a {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 2.6rem;
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px black solid;
    margin-left: 0%;
    background-color: #ddd5cb;
    margin-top: 2px;
    color: black;
  }
  .navigation nav a:first-child {
    border-top: 1px black solid;
  }
}
.footer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(to right, #3366ff 0%, #d3d3d3 100%);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer p {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  padding: 10px;
}
.fnon {
  display: none;
}
.home {
  margin-bottom: 2%;
}
.home .header-section {
  background: linear-gradient(to right, #d3d3d3 0%, #3366ff 100%);
}
.home .header-section .header-text {
  padding: 10px 1%;
}
.home .header-section .header-text h1 {
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .home .header-section .header-text {
    display: none;
  }
}
.home .addsection {
  padding-top: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .home .addsection {
    margin-left: 2%;
  }
}
@media (max-width: 500px) {
  .home .addsection {
    width: 100%;
    flex-direction: column;
  }
}
.home .addsection .marketing {
  width: 30%;
  margin-bottom: 30px;
  padding-right: 2%;
  background-color: #f2f2f2;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .home .addsection .marketing {
    width: 100%;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}
.imagetext {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.imagetext h2,
.imagetext h4 {
  animation-duration: 5s;
  animation-name: tracking-in-expand;
}
.imagetext p {
  animation-duration: 5s;
  animation-name: tracking-in-contract-bck-top;
}
.imagetext .textblock {
  width: 100%;
  height: auto;
  position: absolute;
  top: 20%;
  text-align: center;
  color: white;
}
.imagetext .textblock .redirectreact {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 5px;
  background-color: #FF4500;
  color: White;
  border: solid white 1px;
  width: 100px;
  margin-left: 45%;
  height: 30px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.imagetext .textblock .redirectreact:hover {
  background-color: white;
  color: #FF4500;
}
@media (max-width: 500px) {
  .imagetext .textblock .redirectreact {
    margin-left: 39%;
    margin-bottom: 2%;
  }
}
@media (max-width: 500px) {
  .imagetext .textblock {
    width: 100%;
    top: 0%;
  }
  .imagetext .textblock h2 {
    padding: 0%;
  }
  .imagetext .textblock h4 {
    padding: 0%;
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.tabs {
  padding-left: 15%;
}
.tabs .developersTab {
  display: flex;
  font-size: 2rem;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 2%;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  margin-right: 18%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.tabs .developersTab .tab {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  padding-left: 2%;
  cursor: pointer;
}
@media (max-width: 500px) {
  .tabs .developersTab .tab {
    display: none;
  }
}
.tabs .developersTab .active-tab {
  border-bottom: 2px solid black;
}
@media (max-width: 500px) {
  .tabs .developersTab {
    font-size: 2rem;
    padding-left: 0%;
  }
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 15%;
  margin-bottom: 5%;
}
.cards-container .card {
  width: 40%;
  margin-right: 2%;
  height: 200px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 8px #888888;
  position: relative;
}
@media (max-width: 500px) {
  .cards-container .card {
    width: 100%;
  }
}
.cards-container .card .avatarText {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cards-container .card .avatarText img {
  width: 30%;
  margin-top: 2%;
  border-radius: 25%;
  animation-duration: 3s;
  animation-name: bounce-in-top;
}
.cards-container .card .avatarText p {
  margin-right: 5%;
  font-family: 'Oleo Script', cursive;
}
.cards-container .card .headline {
  font-size: 2rem;
}
.cards-container .card .connect {
  background-color: #4f9be2;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
}
@media (max-width: 500px) {
  .cards-container {
    flex-direction: column;
    width: 100%;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.contact {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #4f5553;
  border-radius: 8px;
  color: white;
  margin-top: 30px;
}
.contact .outer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .outer .label-text {
  padding: 10px;
  width: 30%;
  margin-bottom: 10px;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .contact .outer .label-text {
    font-size: 1.4rem;
    width: 40%;
  }
}
.contact .outer .input-text {
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .contact .outer .input-text {
    padding: 0;
    width: 60%;
    margin-bottom: 0px;
  }
}
.contact .outer .input-text input {
  width: 100%;
  height: 30px;
}
.contact .outer .input-text textarea {
  width: 100%;
  height: 50px;
}
.contact .outer .submitbtn {
  border: solid white 1px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-left: 50%;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .contact {
    margin-top: 5px;
  }
}
