.redirectButton() {
    display: inline;
    margin: 0 10px 20px;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5px;
    background-color: white;
    color: black;
      
    &:hover {
      background-color:black;
      color: white;
    }
}