<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Sofia"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oleo+Script"
      rel="stylesheet"
    />
    <link href="../../CSS/index.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Better Professor App</title>
    <script src="./contributors.js" async></script>
  </head>
  <div class="navigation">
      <a href="../../index.html" class="first-anchor" id="custom-link-style"
      ><h1>BetterProfessor </h1></a>
    <nav>
      <a href="../../index.html" class="first-anchor" id="custom-link-style"
        >Home</a
      >
      <!-- <a href="#">Feautures</a> -->
      <a href="#">Contributors</a>
      <a href="../contact/contact.html">Contact</a>
    </nav>
  </div>
  <body>
      <div class="container home">
    <div class="tabs">
      <div class="developersTab">
        <span class="title">Contributors:</span>
        <div data-tab="all" class="tab active-tab">All</div>
        <div data-tab="SM" class="tab">Scrum Master</div>
        <div data-tab="BE" class="tab">Back End</div>
        <div data-tab="FEE" class="tab">Front End Engineer</div>
        <div data-tab="UXD" class="tab">UX Developer</div>
        
      </div>
    </div>
    <div class="cards-container">

            <!-- CARD COMPONENTS -->
            <div class="card" data-tab="SM"> 
                    
              <div class="headline">Max David Metelus</div>
              <div class="author"> Full Stack Developer At Lambda School </div>
              <div class="avatarText">
                    <img src="../../images/user.png" />
                    <p>Scrum Master </p>
        
            </div>
              <div class="connect">Connect on Github </div>            
            
            </div>

            <div class="card" data-tab="BE"> 
                    
              <div class="headline">Davina Taylor</div>
              <div class="author"> Full Stack Developer At Lambda School </div>
              <div class="avatarText">
                    <img src="../../images/userf.png" />
                    <p>Backend Engineer </p>
        
            </div>
              <div class="connect">Connect on Github </div>            
            
            </div>

            <div class="card" data-tab="BE"> 
                   
              <div class="headline">Jonathan Bernal</div>
              <div class="author"> Full Stack Developer At Lambda School </div>
              <div class="avatarText">
                    <img src="../../images/user.png" />
                    <p>Backend Engineer  </p>
        
            </div>
              <div class="connect">Connect on Github </div>            
            
            </div>

            <div class="card" data-tab="FEE"> 
                    
              <div class="headline">Benjamin Chandler</div>
              <div class="author"> Full Stack Developer At Lambda School </div>
              <div class="avatarText">
                    <img src="../../images/user.png" />
                    <p>Frontend Engineer </p>
        
            </div>
              <div class="connect">Connect on Github </div>            
            
             
    </div>
    <div class="card" data-tab="UXD"> 
            
      <div class="headline">Firealem Erko</div>
      <div class="author"> Full Stack Developer At Lambda School </div>
    <div class="avatarText">
            <img src="../../images/fire.jpg" />
            <p>User Interface Developer </p>

    </div>

      <div class="connect" class="redirectreact" onclick="window.open('https://github.com/ferko18')">Connect on Github </div>            
    
    </div>
    </div>
    <footer class="footer">
            <p>Copyright 2019 Better Professor App, email: contact@Betterprofessorapp.com </p>
          </footer>
  </body>
  </html>
</html>
