.tabs{

//     max-width: 1200px;
//   width: 100%;
//   margin: 0 auto;
padding-left: 15%;
    
    
    .developersTab {
        display: flex;
        font-size: 2rem;
        flex-direction: row;
        margin-top: 1%;
        margin-bottom: 2%;
        border-top: 2px dashed black;
        border-bottom: 2px dashed black;
        margin-right: 18%;
        padding-top: 2%;
        padding-bottom: 2%;
        
        
        //border: 1px solid red;
        .tab{
            display: flex;
            //border: solid rgb(108, 27, 155) 1px;
            justify-content: space-between;
            margin-left: 2%;
            padding-left: 2%;
            cursor: pointer;
            //padding-right: 0%;
            
            
            @media @mobile{
                display: none;
            }
        }
        .active-tab{
            border-bottom: 2px solid black
        } 
        

        @media @mobile {
            font-size: 2rem;
            padding-left: 0%;
           
            //width: 100%;
        }
    }


}



.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 15%;
    margin-bottom: 5%;


     
    
.card{
    //border: solid rgb(108, 27, 155) 1px;
    width:40%;
    margin-right: 2%;
    height: 200px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 8px #888888;
    position: relative;
    
    
    @media @mobile {
        
        width: 100%;
    }
   
     .avatarText{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         img{
            
             width:30%;
             margin-top: 2%;
             border-radius:25%;
             //animation added here 
             animation-duration:3s;
             animation-name: bounce-in-top;
         }
         p{
           
            margin-right: 5%;
            font-family: 'Oleo Script', cursive;
         }
     }
     .headline{
         font-size: 2rem
     }
     .connect{
         background-color: rgb(79, 155, 226);
         height: 30px;
         width: 100%;
         position: absolute;
         bottom: 1px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 1.8rem; 
         cursor: pointer;
     }
}
@media @mobile {
    flex-direction: column;
    width: 100%;
}
}

//keyframe applied on img tag 
@-webkit-keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}