<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Sofia"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oleo+Script"
      rel="stylesheet"
    />
    <link href="../../CSS/index.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Better Professor App</title>
  </head>
  <div class="navigation">
    <h1>BetterProfessor</h1>
    <nav>
      <a href="../../index.html" class="first-anchor" id="custom-link-style">Home</a>
      <a href="#">Feautures</a>
      <a href="#">Contributors</a>
      <a href="#">Contact</a>
    </nav>
  </div>
<body>
    test 
</body>
</html>