<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Sofia"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oleo+Script"
      rel="stylesheet"
    />
    <link rel="icon" href="/images/favicon.ico"/>
    <link href="../../CSS/index.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Better Professor App</title>
  </head>
  <div class="navigation">
      <a href="../../index.html" class="first-anchor" id="custom-link-style"
      ><h1>BetterProfessor </h1></a>
    <nav>
      <a href="../../index.html" class="first-anchor" id="custom-link-style"
        >Home</a
      >
      <!-- <a href="#">Feautures</a> -->
      <a href="../contributors/contributors.html">Contributors</a>
      <a href="#">Contact</a>
    </nav>
  </div>
  <body>
    
 
<form class="contact">
    <div class="outer">
      <div class="label-text">First Name</div>
      <div class="input-text">
        <input type="text" />
      </div>
      <div class="label-text">Last Name</div>
      <div class="input-text">
        <input type="text" />
      </div>
      <div class="label-text">Email Address</div>
      <div class="input-text">
        <input type="email" />
      </div>
      <div class="label-text">Message</div>
      <div class="input-text">
        <textarea  >
          </textarea>
      </div>
      <div class="submitbtn">Submit</div>
      </div>
      
  </form>
  <footer class="footer">
      <p>Copyright 2019 Better Professor App, email: contact@Betterprofessorapp.com </p>
  </footer>
</body>


